body {
        background-color: #F4EAEA;
        margin-left:8;
        margin-top:8;
        margin-right:8;
        margin-bottom:8;
     }
.m_text {
        font-family:"»ªÎÄÏ¸ºÚ";
        font-size: 10.5pt;
        color: #000000;
        line-height: 130%;
}
